<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
    {{template "header"}}
<section>
    <h1>Contact Page</h1>
   <p>
    oday, there are many dummy/filler text generators to choose from, 
    so you don’t necessarily need to use Lorem ipsum. There’s, for 
    example, Corporate ipsum which is based off of business terminologies. Or Cupcake ipsum for those who love baked goods.
   </p>
</section>
   {{template "footer"}}
</body>
</html>