<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme Page by Golang</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
   {{template "header"}}
    <section>
        <h1>List of playlist on my YouTube Channel are:</h1>
        <ol>
            <li>Android Programming with Java</li>
            <li>Android Programming with Kotlin</li>
            <li>Golang Programming</li>
            <li>Java Programming</li>
            <li>JavaScript ES6 Programming</li>
            <li>Node JS Programming</li>
            <li>Mongodb Handling</li>
        </ol>
    </section>
</body>
</html>