<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Home Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
    <header>
        <image src="/assets/image/dvk.png"></image>
        <div id="title">Dr. Vipin Classes</div>
    </header>
    <nav>
        <ul>
            <li><a href="/playlist">PlayList</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</body>
</html>